@using JetwaysAdmin.UI.ViewModel
@model List<MenuHeaddata>
@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<main id="main" class="main">    
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Manage Account Balance</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Customers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Account Balance
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="card">
                                <div class="card-block">
                                    <form class="form-material form-row" asp-controller="AccountBalance" asp-action="AddAccountBalance">
                                        <input type="hidden" name="LegalEntityCode" value="@TempData["LegalEntityCode"]">
                                        <div class="form-group form-primary col-md-6 m-t-15">
                                            <strong style="font-weight:700;">Manage account balance at other entity?</strong>
                                            <label class="switch m-l-5" style="vertical-align: -webkit-baseline-middle;">
                                                <input type="checkbox" name="ManageAccountBalance" value="true">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <select name="AccountBalanceEntity" class="form-control fill">
                                                <option value="opt1">Account Balance Entity</option>
                                                <option value="opt2">Account Balance Entity2</option>
                                            </select>
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="form-group form-primary col-md-3">
                                            <button class="btn btn-primary waves-effect waves-light">Save</button>
                                        </div>
                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <select name="BalanceType" class="form-control fill">
                                                <option value="">Select Balance Type</option>
                                                <option value="Debit">Deposite</option>
                                                <option value="Credit">Credit</option>
                                                <option value="Wallet">Wallet</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <input type="text" name="OriginalLimit" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Set Original Limit</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <input class="form-control date-main" type="text" name="ExpiryDate" placeholder="Expiry Date">
                                            <span class="form-bar"></span>
                                        </div>

                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <button class="btn btn-primary waves-effect waves-light">Save</button>
                                        </div>

                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <input type="text" name="PresentBalance" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">₹ Present Balance</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <input type="text" name="AddAmmount" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">₹ Add Amount</label>
                                        </div>
                                        <div class="form-group form-primary col-md-3 m-t-20">
                                            <button class="btn btn-primary waves-effect waves-light">Add</button>
                                            <button class="btn btn-default waves-effect waves-light">Deduct</button>
                                        </div>
                                    </form>
                                    <div class="table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><button class="srt-btn" type="button" aria-label="Date">Date</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Balance">Balance</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Billing Entity Nam">Billing Entity Name</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Trip ID">Trip ID</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Credit/deposit">Crdit/Doposit</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Debit">Debit</button></th>
                                                        <th><button class="srt-btn" type="button" aria-label="Totoal Balance">Total Balance</button></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                        <td class="text-center">No Data Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between pagination-section">
                                <span class="pagination-info">
                                    Showing 0 to 0
                                </span>
                                <div class="float-right pagination">
                                    <span class="m-t-5 m-r-5">Items per page:</span>
                                    <select class="form-select form-select-sm">
                                        <option>5</option>
                                        <option>10</option>
                                        <option selected>25</option>
                                        <option>100</option>
                                    </select>
                                    <ul class="pagination">
                                        <li class="page-item page-pre"><a class="page-link" aria-label="previous page" href="javascript:void(0)">‹</a></li>
                                        <li class="page-item active"><a class="page-link" aria-label="to page 1" href="javascript:void(0)">0</a></li>
                                        <li class="page-item page-next"><a class="page-link" aria-label="next page" href="javascript:void(0)">›</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
        </div>
    </div>
</main>

<!-- multiple selection Jquery start -->
<script>
    $('#langOpt').multiselect({
        columns: 1,
        texts: {
            placeholder: 'Associated Fare Type(s) *'
        }
    });
</script>
<!-- multiple selection Jquery start -->

<script>
    $(function () {
        $(".select").select2();
    });
</script>

<!-- datepicker start -->
<script>
    $(function () {
        $(".date-main").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>
<!-- datepicker End -->


