@using JetwaysAdmin.UI.ViewModel
@model List<MenuHeaddata>

@{
    Layout = "~/Views/Shared/_LegalEntities.cshtml";
}
<main id="main" class="main">

    <h4>

        ShowBudgets
    </h4>

</main>


