@using JetwaysAdmin.UI.ViewModel
@model List<MenuHeaddata>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
<main id="main" class="main">

    <h4>
        ShowEmailConfigurations
    </h4>

</main>


