@using JetwaysAdmin.UI.ViewModel
@model List<MenuHeaddata>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
<main id="main" class="main">
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Approval Workflows</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Setting</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Manage Customers</a>
                                </li>
                                <li class="breadcrumb-item">
                                    Approval Workflows
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="card">
                                <div class="card-block">
                                    <div class="d-flex justify-content-between m-b-10">
                                        <form class="form-material">
                                            <div class="form-group form-primary" style="width:280px;">
                                                <input type="text" name="footer-email" class="form-control">
                                                <span class="form-bar"></span>
                                                <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                            </div>
                                        </form>
                                        <div>
                                            <a href="add-new-workflow.html"><button class="btn sml-btn-danger">+ Add New</button></a>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active table-border-style" id="flights1" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th><button class="srt-btn" type="button" aria-label="service-type">Service Type</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="workflow-name">Workflow Name</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="description">Description</button></th>
                                                            <th><button class="srt-btn" type="button" aria-label="Status">Status</button></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="5">No Data Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>           
        </div>
    </div>
</main>

